PORT=8000
CORS_ORIGIN=*

CLOUDINARY_CLOUD_NAME="du8rmz"
CLOUDINARY_API_KEY="87425787437"
CLOUDINARY_API_SECRET="-XvXJzYIYt4bYVZ5xk"

DATABASE_URL="postgresql://neondb_owner:npg_JjEnG84aeKfq@"

ACCESS_TOKEN_SECRET=amnei
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=amnei
REFRESH_TOKEN_EXPIRY=10d

NODE_ENV=development