PORT=8000

CLOUDINARY_CLOUD_NAME=dwwcv
CLOUDINARY_API_KEY=633896138
CLOUDINARY_API_SECRET=nci7KpFtW0O0

DATABASE_URL=mysql://root:1234@localhost:3306/zia_hall

ACCESS_TOKEN_SECRET=code
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=backend
REFRESH_TOKEN_EXPIRY=10d

NODE_ENV=development